<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="//apis.google.com/js/platform.js?onload=start" async defer">
  </script>
</head>

<body>
  <div id ="signinButton">
    <span class="g-signin"
        data-scope="openid email"
        data-clientid="509977219666-gfa5vhmeptutgag8hfjm1957j3vamso7.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
        <button>Sign In</button>
    </span>
  </div>
  <div id ="results"></div>

</body>

</html>
